body {
    font-family: Helvetica,Verdana,Arial,Clean,sans-serif;
    font-size: 100%;
    text-align: center;
    line-height: 24px;
}

hr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 1px;
    margin: 0 0 0px;
    width: 100%;
}

div#header {
    border-bottom: 1px dotted #999999;
}

h1.logo {
    font: bold 3em helvetica,arial,verdana,sans-serif;
    color: #2E2633;
    margin: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    letter-spacing: -1px;
    text-align: center;
    font-size: 3em;
    line-height: 1;
}

div#content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
    padding: 0px 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: left;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px dotted #999999;
    margin-left: auto;
    margin-right: auto;

    min-height: 1px;
    padding: 10px 20px 20px;
    position: relative;
    text-align: right;
    font-size: 75%;
}

#navbar {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 50px;
    margin: 0 0 0 -20px;
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
}

#navbar div {
    margin: 0;
    text-align: center;
}

#navbar div a {
    color: black;
    display: block;
    font-size: 90%;
    font-weight: bold;
    height: 26px;
    padding: 15px 15px 6px;
    text-decoration: none;
}

#navbar ul li.selected a, #navbar ul li a:hover {
    color: #99173C;
}

#navbar ul {
    float: left;
    margin: 0;
    width: 100%;
    padding-left: 0px;
}

#navbar ul li {
    float: left;
    list-style: none outside none;
    margin: 0 0;
}

div#bio {
    display: inline-block;
    width: 100%;
}

#bio img {
    float: left;
    margin-right: 10px;
}

#bio p {
    margin-top: 0px;
    font-size: 80%;
}

#bio p a {
    border-bottom: none;
    display: inline;
    padding: 0px;
}

#posts ul li {
    list-style: none outside none;
}

#pagination {
    font-size: 80%;
}

#pagination ol {
    float: left;
    margin: 0;
    padding-left: 0px;
}

#pagination ol li + li {
    background: url(/icons/separator.png) no-repeat top left;
}

#pagination ol li {
    padding-left: 15px;
    padding-right: 5px;
    float: left;
    list-style: none outside none;
    margin: 0 0;
}

#social-nav {
	padding: 12px;
	float: right;
}

#twitter-profile {
    background: url("../icons/twitter.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-top: 5px;
    width: 30px;
    float: right;
    font-weight: bold;
    text-align: right;
    z-index: 4;
}

#flickr-profile {
    background: url("../icons/flickr.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-top: 5px;
    width: 30px;
    float: right;
    font-weight: bold;
    text-align: right;
    z-index: 4;
}

#gplus-profile {
    background: url("../icons/gplus.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-top: 5px;
    width: 30px;
    float: right;
    font-weight: bold;
    text-align: right;
    z-index: 4;
}

#linkedin-profile {
    background: url("../icons/linkedin.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-top: 5px;
    width: 30px;
    float: right;
    font-weight: bold;
    text-align: right;
    z-index: 4;
}

#rss-feed {
    background: url("../icons/rss.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-top: 5px;
    width: 30px;
    float: right;
    font-weight: bold;
    text-align: right;
    z-index: 4;
}

div.post-body {
    font-family: 'Nunito',sans-serif;
}

div.spacer {
    margin-top: 20px;
}

p.post-info {
    font-size: 90%;
    margin: 0 0 0 5px;
    overflow: hidden;
    padding: 8px 5px;
}

p.post-info {
  padding-left: 0px;
  margin-left: 0px;
  
}

div.post-body {
    display: block;
    padding: 10px 10px 10px 5px;
}

#main h2 {
    margin-bottom: 0px;
}

span.post-date {
    background: none repeat scroll 0 0 #99173C;
    color: white;
    float: left;
    padding: 3px 7px;
}

span.post-categories {
    background: none repeat scroll 0 0 	#EBD1D8;
    color: white;
    float: left;
    margin-left: 2px;
    padding: 3px 5px 3px 5px;
}

.post-categories a {
    color: #99173C;
}

div#sidebar {
    padding-top: 10px;
    width: 100%;
    line-height: 21px;
}

#sidebar a {
    border-bottom: 1px dotted #CCCCCC;
    display: block;
    padding: 4px 6px;
    text-decoration: none;
}

#tag-cloud a {
    display: inline;
    border-bottom: none;
    color: #99173C;
}

#tag-cloud a.set-1 {
    font-size: 70%;
}

#tag-cloud a.set-2 {
    font-size: 87%;
}

#tag-cloud a.set-3 {
    font-size: 102%;
}

#tag-cloud a.set-4 {
    font-size: 116%;
}

#tag-cloud a.set-5 {
    font-size: 140%;
}

#sidebar h3 {
    border-bottom: 1px solid #666666;
    margin-bottom: 5px;
}

#sidebar a.indented {
    color: #555555;
    font-size: 11px;
    padding-left: 15px;
}

#sidebar a:hover {
    color: #CC3300;
}

div#main {
	padding-right: 30px;
	padding-top: 10px;
}

table {
    border-collapse: collapse;
    margin: 0.5em 0 0.5em 0;
}

th, td {
    border: 1pt solid #ADB9CC;
    padding: 0.25em 0.5em;
}

th, td.theader {
    background-color: #F8F8F8;
    font-weight: bold;
    padding: 5pt;
    vertical-align: middle;
}

a:link, a:visited {
    -moz-transition: all 0.3s ease 0s;
}

a:hover {
    color: #CC3300;
}

a {
    /* color: #3B73B9; */
    color: #99173C;
    text-decoration: none;
}

h2 {
    color: #99173C;
    margin-top: 10px;
    font-weight: 300;
    padding-top: 10px;
}

pre, code, .code {
    font-family: 'andale mono','bitstream vera sans mono','lucida console','courier new',monospace;
    font-size: 12px;
    line-height: 16px;
}

div.row {
    clear: left;
    padding-top: 5px;
    width: 100%;
}
div.row span.label {
    float: left;
    text-align: right;
    width: 40%;
}
div.row span.formw {
    float: right;
    text-align: left;
    width: 60%;
}
div.row span.labelfull {
    float: left;
    text-align: right;
    width: 20%;
}
div.row span.labelfullleft {
    float: left;
    text-align: left;
    width: 100px;
}
div.row span.formfull {
    float: right;
    text-align: left;
    width: 800px;
}
div.row span.left {
    float: left;
    width: 50%;
}
div.row span.right {
    float: right;
    width: 50%;
}
div.row div.leftfixed {
    float: left;
    text-align: left;
    width: 300px;
}
div.row div.rightfixed {
    float: right;
    text-align: left;
    width: 300px;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
}
.clearfix {
    display: inline-block;
}

input {
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    border: 1px solid #8496BA;
}

.editsection {
    float: right;
    font-weight: normal;
    margin-left: 5px;
    border-bottom: none;
}

a.boring {
    /*border: medium none;*/
    color: #000000;
    outline: medium none;
    text-decoration: none;
    border-bottom: medium none;
}

img.boring {
    border: medium none;
    outline: medium none;
}


