#tag-cloud {
  a {
    display: inline;
    border-bottom: none;
  }

  a.set-1 {
    font-size: 70%;
  }

  a.set-2 {
    font-size: 87%;
  }

  a.set-3 {
    font-size: 102%;
  }

  a.set-4 {
    font-size: 116%;
  }

  a.set-5 {
    font-size: 140%;
  }
}
