@import "pyg_github";
@import "tag-cloud";


@import "foundation/variables";

/*
 * Overrides of Foundation default values.
 */
$body-font-family: "Open Sans","DejaVu Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
//$body-font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif; // zurb
$header-font-family: $body-font-family;

$h1-font-size: em-calc(32);
$h2-font-size: em-calc(28);
$h3-font-size: em-calc(24);
$h4-font-size: em-calc(21);
$h5-font-size: em-calc(18);
$h6-font-size: 1em;

$code-color: inherit;
$code-font-family: "Source Code pro";
$code-font-weight: normal;

@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/pagination";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/labels";
@import "foundation/components/tables";
@import "foundation/components/inline-lists";
@import "foundation/components/alert-boxes";

/*
 * Other variables.
 */
$redish: #99173C;
$header-top-margin: 10px;
$logo-font-size: 2em;

$pre-font-family: $code-font-family;
$pre-font-weight: $code-font-weight;
$pre-font-size: 0.9em;

$mono-time-font-family: "Droid Sans Mono";


a#logo {
    //font-family: 'Avenir Next W01 Thin';
    //font-weight: normal;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: $logo-font-size;
    text-transform: lowercase;
    display: block;
    text-align: left;
    margin-top: $header-top-margin;
    b {
	//font-family: 'Avenir Next LT W01 Bold';
        //font-weight: normal;
    	font-family: 'Roboto';
        font-weight: 700;
    }
}

nav#top-nav {
  margin-top: $header-top-margin;
  float: right;

  ul {
    margin-bottom: 0;
  }

  li {
    text-transform: lowercase;
    vertical-align: middle;
    line-height: $logo-font-size;
  }

  i {
    font-size: 1.5em;
  }
}

header#top-header {
  border-bottom: 1px solid $secondary-color;
  margin-bottom: 1.2em;
  padding-bottom: $header-top-margin;
}

footer#footer {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid $secondary-color;

  .copyright {
    font-size: 0.8em;
    color: #777;
  }
}

/* List of posts */
#posts {
  .post-categories {
    font-size: 0.7em;
  }

  .post-title {
    a {
      color: $body-font-color;
    }
    a:hover {
      color: $primary-color;
    }
  }

  time.posted {
    font-size: 0.85em;
    display: inline-block;
    float: right;
    width: 9em;
  }

  ul {
    li {
      list-style: none outside none;
      line-height: 2em;
    }
  }
}

/* Single post post-info */
p.post-info {
  font-size: 0.8em;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 15px;
}

pre {
  font-family: $pre-font-family;
  font-weight: $pre-font-weight;
  font-size: $pre-font-size;
}


aside {
}

/* If the screen is wide enough, make the sidebar fixed */
@media #{$small} {
  aside.follow {
    position: fixed;
    top: 80px;
  }
}

#scrollspy {
  margin-left: 1em;
  font-size: 0.9em;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  padding: 1em 2em 1em 0;

  a {
    padding-left: 2em;
  }

  li {
    list-style: none outside none;
    font-weight: normal;
    ul {
      margin-left: 0px;
      display: none;
      a {
        padding-left: 3em;
      }
    }
  }

  li.active {
    font-weight: bold;
    & > a {
      margin-left: -1px;
      border-left: 1px solid $primary-color;
    }
    ul {
      display: block;
    }
  }
}

#comments {
  #comment-form {
    textarea {
      height: 10.25em;
    }

    #captcha {
      margin-bottom: 1em;
    }
  }
}

#comment-list {
  li.comment {
    list-style: none;
    border-top: 1px solid $secondary-color;
    padding-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 90%;

    header {
      margin-bottom: 0.5em;
    }

    .name {
      font-weight: bold;
    }

    time {
      float: right;
      color: #999;
    }
  }

}
