---
title: Code
layout: default
---

%h2 Tools

%article.code-facts
  %h3 asccalc
  .row
    .small-2.columns.key code
    .small-10.columns
      %a{ :href => "https://github.com/bwalex/asccalc" } github.com/bwalex/asccalc
  .row
    .small-2.columns.key more info
    .small-10.columns
      %a{ :href => "https://github.com/bwalex/asccalc/blob/master/README.md" } README
  .row
    .small-2.columns.key description
    .small-10.columns
      %p
        Pretty much a fully featured console calculator. One of the few that makes it easy to use logic operations and different bases.



%article.code-facts
  %h3 tcplay
  .row
    .small-2.columns.key code
    .small-10.columns
      %a{ :href => "https://github.com/bwalex/tc-play" } github.com/bwalex/tc-play
  .row
    .small-2.columns.key more info
    .small-10.columns
      %a{ :href => "https://github.com/bwalex/tc-play/blob/master/README.md" } README
  .row
    .small-2.columns.key description
    .small-10.columns
      %p
        tcplay is a free (BSD-licensed), pretty much fully featured (including multiple keyfiles, cipher cascades, etc) and stable TrueCrypt implementation.



%h2 Misc

%article.code-facts
  %h3 bpasswd
  .row
    .small-2.columns.key code
    .small-10.columns
      %a{ :href => "#" } github.com/bwalex/bpasswd
  .row
    .small-2.columns.key more info
    .small-10.columns
      %a{ :href => "/code/bpasswd" } Page
  .row
    .small-2.columns.key description
    .small-10.columns
      %p
        BPasswd is a strong password generator. It derives passwords from a master password and a usage-specific "salt". Since BPasswd is aimed at the web, the "salt" is usually something site-specific such as "github", "amazon", "google", etc. In other words, you get to reuse one (or a handful) of passwords, but end up with a unique password for each site. Best of all is that you don't need to carry around some key file or trust a third-party service like you'd do with a password manager.
