:ruby
  pages = items_with_tag(@tag).sort { |a,b| b[:created_at] <=> a[:created_at] }

%section#posts
  %ul
    - pages.each do |article|
      %li
        %time.posted
          = pretty_time article[:created_at]
        %span.post-title
          = link_to article[:title], article
