<!DOCTYPE HTML>

<html>
  <head>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link type="text/css" href="/css/1140.css" rel="stylesheet"/>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
    <link type="text/css" href="/css/pyg_github.css" rel="stylesheet"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}Alex Hornung</title>
  </head>

  <body>
    <div id="header" class="container">
      <div class="row">
	<div id="logo" class="twelvecol last">
          <h1 class="logo">Alex Hornung</h1>
	</div>
      </div>
      <div id="navbar" class="row">
        <div class="ninecol">
	  <ul id="navigation-menu" class="menu">
	    {% for item in site.menu %}
            <li class="">
	    <a href="{{ item.url }}">{{ item.text }}</a>
	    </li>
	    {% endfor %}
          </ul>
        </div>

        <div class="threecol last" id="social-nav">
	  {% if site.github %}
	  <a target="_blank" href="https://github.com/{{ site.github.profile }}">
	    <img src="/icons/octocat.png" alt="GitHub">
	  </a>
	  {% endif %}

	  {% if site.linkedin %}
	  <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin.profile }}">
	    <img src="/icons/linkedin.png" alt="LinkedIn">
	  </a>
	  {% endif %}

	  {% if site.twitter %}
	  <a target="_blank" href="https://www.twitter.com/{{ site.twitter.profile }}">
	    <img src="/icons/twitter.png" alt="Twitter">
	  </a>
	  {% endif %}

	  {% if site.gplus %}
	  <a target="_blank" href="https://plus.google.com/{{ site.gplus.profile }}">
	    <img src="/icons/gplus.png" alt="Google+">
	  </a>
	  {% endif %}

	  <a target="_blank" href="/atom.xml">
	    <img src="/icons/rss.png" alt="Atom Feed">
	  </a>
        </div>
      </div>
    </div>


    <div class="spacer container"></div>


    <div id="content" class="container">
      <div class="row">
	<div class="ninecol">
          <div id="main">
	    {% if page.title %}
            <h2>{{ page.title }}</h2>
	    {% endif %}
            {{ content }}
          </div>
	  {% if page.comments %}
	  <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_developer = {{ site.disqus.developer }}; // developer mode is on
            var disqus_shortname = '{{ site.disqus.shortname }}';

	    var disqus_url = '{{site.url}}{{ page.url }}';
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js?https';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          </noscript>
          <a href="https://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
          {% endif %}
	</div>
	<div class="threecol last">
          <div id="sidebar">
	    {% unless page.sidebars %}
	    <h3>About</h3>
	    <div id="bio">
	      {% include bio.html %}
	    </div>
	    <h3>Tags</h3>
	    <div id="tag-cloud">
	      {{ site | tag_cloud }}
	    </div>
	    {% endunless %}
	    {% for sidebar in page.sidebars %}
            <h3>{{ sidebar.title }}</h3>
            <div>
              {{ sidebar.content }}
            </div>
            {% for item in sidebar.items %}
            <a href="{{ item.url }}" class="indented">{{ item.text }}</a>
            {% endfor %}
            {% endfor %}
          </div>
	</div>
       </div>
     </div>

     <div class="container">
       <div id="footer" class="row">
	 <div class="twelvecol last">
           Copyright (C) 2010-2012, Alex Hornung
	 </div>
       </div>
     </div>
   </body>

 </html>
